@font-face { font-family: roboto-regular;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

body {
  background-color: black;
  color: #c7c7c7;
  font-family: roboto-regular;
  font-size: 20px;
}

p {
  font-size: 20px;
}

h2 {
  margin-bottom: 0px;
  color: #03A062;
}

.quote {
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.title {
  text-decoration: underline;
}


/* colors */
/* colors */
/* colors */
/* colors */

.red {
  color: #8B0000;
}

.white {
  color: white;
}

.gray {
  color: #c7c7c7;
}


/* footer */
/* footer */
/* footer */
/* footer */
.content {
  min-height: calc(100vh - 60px);
}

.footer {
  height: 60px;
}